/***************************************/

.row
    margin                              0 -10px
    font-size                           0
    text-align                          center

[class^="col-"]
[class*=" col-"]
    display                             inline-block
    vertical-align                      top
    padding                             0 10px
    font-size                           1.4rem
    text-align                          left
    width                               100%


/* Mediaqueries only Mobile ( <= 639px) */
@media all and ( max-width: $smallScreenContentMinWidth )

    .row-mobile
        margin                              0 -10px
        font-size                           0
        text-align                          center

    .col-1
        width                           8.333%

    .col-2
        width                           16.666%

    .col-3
        width                           25%

    .col-4
        width                           33.333%

    .col-5
        width                           41.666%

    .col-6
        width                           50%

    .col-7
        width                           58.333%

    .col-8
        width                           66.666%

    .col-9
        width                           75%

    .col-10
        width                           83.333%

    .col-11
        width                           91.666%

    .col-12
        width                           100%
        padding                         0


/* Mediaqueries only Tablet ( >= 640px && <= 959px) */
@media all and ( min-width: $smallScreenContentMaxWidth ) and ( max-width: $mediumScreenContentMinWidth )

    .row-tablet
        margin                          0 -10px
        font-size                       0
        text-align                      center

    .col-tablet-1
        width                           8.333%

    .col-tablet-2
        width                           16.666%

    .col-tablet-3
        width                           25%

    .col-tablet-4
        width                           33.333%

    .col-tablet-5
        width                           41.666%

    .col-tablet-6
        width                           50%

    .col-tablet-7
        width                           58.333%

    .col-tablet-8
        width                           66.666%

    .col-tablet-9
        width                           75%

    .col-tablet-10
        width                           83.333%

    .col-tablet-11
        width                           91.666%

    .col-tablet-12
        width                           100%


/* Mediaqueries Desktop ( >= 960px && <= 1399px) */
@media all and ( min-width: $mediumScreenContentMaxWidth ) and ( max-width: $largeScreenContentMinWidth )

    .row-desktop
        margin                          0 -10px
        font-size                       0
        text-align                      center

    .col-desktop-1
        width                           8.333%

    .col-desktop-2
        width                           16.666%

    .col-desktop-3
        width                           25%

    .col-desktop-4
        width                           33.333%

    .col-desktop-5
        width                           41.666%

    .col-desktop-6
        width                           50%

    .col-desktop-7
        width                           58.333%

    .col-desktop-8
        width                           66.666%

    .col-desktop-9
        width                           75%

    .col-desktop-10
        width                           83.333%

    .col-desktop-11
        width                           91.666%

    .col-desktop-12
        width                           100%
        padding                         0 10px


/* Mediaqueries Large ( >= 1400px) */
@media all and ( min-width: $largeScreenContentMaxWidth )

    .row-desktop
        margin                          0 -10px
        font-size                       0
        text-align                      center

    .col-desktop-1
        width                           8.333%

    .col-desktop-2
        width                           16.666%

    .col-desktop-3
        width                           25%

    .col-desktop-4
        width                           33.333%

    .col-desktop-5
        width                           41.666%

    .col-desktop-6
        width                           50%

    .col-desktop-7
        width                           58.333%

    .col-desktop-8
        width                           66.666%

    .col-desktop-9
        width                           75%

    .col-desktop-10
        width                           83.333%

    .col-desktop-11
        width                           91.666%

    .col-desktop-12
        width                           100%
        padding                         0 10px
