/***************************************/

html
body
    overflow-x                          hidden

html
body
#main
    width                               100%
    height                              100%
    min-width                           320px

body
    position                            relative

#main
    font-size                           1.4rem
    transition4(transform)
    font-2()

    &:after
        content                         ""
        transition3()

.site-wrapper
    min-height                          100%
    margin-bottom                       -($footerHeight)

    &:after
        content                         ""
        display                         block
        height                          $footerHeight

    & > div:not(.site-header)
        opacity                         0

.site-content
    padding                             20px 0

    .inner
        position                        relative
        z-index                         1

.sc-teaser
    padding-bottom                      20px
    margin-bottom                       20px
    border-bottom                       1px dashed $color7

.sc-body
    padding-bottom                      15px

.inner
    max-width                           $innerWidth
    margin                              0 auto
    padding                             0 10px

.js-nav-mobile-opened
    overflow-y                          hidden

    #main
        transform                       translateX(-80%)

        &:after
            content                     ""
            position                    absolute
            top                         50px
            left                        0
            width                       100%
            height                      @width
            background-color            rgba($color1, 0.8)



/* Mediaqueries Tablet ( >= 640px) */
@media all and ( min-width: $smallScreenContentMaxWidth )

    .site-wrapper
        margin-bottom                   -($footerHeightTablet)

        &:after
            height                      $footerHeightTablet


    .js-nav-mobile-opened
        #main
            transform                   translateX(-50%)


/* Mediaqueries Desktop ( >= 960px) */
@media all and ( min-width: $mediumScreenContentMaxWidth )

    html
    body
        overflow-x                      initial

    .site-wrapper
        margin-bottom                   -($footerHeightDesktop)

        &:after
            height                      $footerHeightDesktop

        & > div:not(.site-header)
            opacity                     1

    .site-content
        padding                         20px 0

    .sc-teaser
        padding-bottom                  40px
        margin-bottom                   40px

    .sc-body
        padding-top                     30px
        padding-bottom                  30px

    .sticky-nav
        .site-wrapper
            padding-top                 60px

    .js-nav-mobile-opened
        #main
            transform                   none


/* Mediaqueries Large ( >= 1400px) */
@media all and ( min-width: $largeScreenContentMaxWidth )

    .site-wrapper
        margin-bottom                   -($footerHeightLarge)

        &:after
            height                      $footerHeightLarge

    .inner
        max-width                       $largeScreenContentMaxWidth
