/* https://raw.github.com/yui/yui3/master/src/cssreset/css/cssreset.css */
*
    box-sizing                          border-box

html
body
    line-height                         1.61803398875
    background-color                    $color2
    color                               $color6

html
    font-size                           62.5% // 10px
    -ms-overflow-style                  -ms-autohiding-scrollbar // Autohide scroll bar

body
    -webkit-tap-highlight-color         rgba( 0, 0, 0, 0 )
    -webkit-text-size-adjust            100%
    -moz-osx-font-smoothing             grayscale
    -webkit-font-smoothing              antialiased
    font-smooth                         always

body
div
// dl
// dt
// dd
ul
// ol
li
// h1
// h2
// h3
// h4
// h5
// h6
// pre
// code
// form
// fieldset
// legend
// input
// textarea
// p
// blockquote
// th
// td
    margin                              0
    padding                             0



table
    border-collapse                     collapse
    border-spacing                      0



// fieldset
img
    border                              0
    max-width                           100%
figure
    margin                              0




// address
// caption
// cite
// code
// dfn
// th
// var
    // font-style                          normal
    // font-weight                         normal



// ol
ul
    list-style                          none



// caption
// th
    // text-align                          left



// h1
// h2
// h3
// h4
// h5
// h6
    // font-size                           100%
    // font-weight                         normal



// q
    // &:before
    // &:after
    //     content                         ''
//
//
//
// abbr
// acronym
    // border                              0
    // font-variant                        normal



// sup
    // vertical-align                      text-top

// sub
    // vertical-align                      text-bottom



// input
// textarea
// select
// button
//     font-size                           inherit
//     font-weight                         inherit
//     box-sizing                          border-box
//     -moz-osx-font-smoothing             grayscale
//     -webkit-font-smoothing              antialiased
//     font-smooth                         always
//     font1()


// input[ type="checkbox" ]
// input[ type="radio" ]
//     width                               13px
//     height                              13px


// input
// textarea
// select
// button
// a
//     &:focus
//         outline                         none


// a
//     color                               #000

//     &
//     &:hover
//       text-decoration                   none
