/***************************************/

.page-home
    .article
        padding                         50px 0 30px 0

        h3
            text-align                  center
            line-height                 1.2
            margin-bottom               20px

        p
            font-size                   1.4rem
            color                       $color7
            text-align                  center
            margin-top                  20px

    .site-panel
        background-color:               $color8

    .mod-panel-global-content
        margin-bottom                   30px

        &.icon-marker
            box-shadow                  0 2px 10px 2px rgba($color1, 0.1)

            &:before
                display                 block
                width                   45px
                height                  45px
                background-color        $color3
                border-radius           50%
                padding                 20px
                text-align              center
                transform               scale(0.45)
                position                absolute
                top                     -40px
                left                    10px

    .mod-panel-home-services
        .mod-panel-wrapper-block
            text-decoration             none

        .mod-panel-block
            background-color            $color2
            margin-bottom               20px

        .mod-panel-background
            position                    relative
            overflow                    hidden

            &:after
                content                 ""
                position                absolute
                top                     0
                left                    0
                width                   100%
                height                  @width
                background-color        $color5
                opacity                 0.2
                transition4(transform)

        .mod-panel-img
            transition4(transform)

        a.mod-panel-wrapper-block
            .mod-panel-block
                transition3()

                &:hover
                    transform           translateY(-2px)
                    box-shadow          0 2px 10px 2px rgba($color1, 0.1)

                    .mod-panel-title-2
                        color           $color3

                    .mod-panel-img
                        transform       scale(1.05)

                    .mod-panel-background
                        &:after
                            transform   scale(0)

        .mod-panel-img
            display                     block
            width                       100%

        .mod-panel-title-2
            text-transform:             uppercase
            color                       $color6
            text-align                  center
            padding                     10px 0
            font-size                   2rem
            transition4(color)
            font-l()

    .mod-panel-home-gmap
        position                        relative
        padding                         40px 0
        margin-bottom                   20px

        &:hover
            .mod-panel-gmap-img
                transform               translate(-50%, -50%) scale(1.05)

            .mod-panel-global-content
                transform               translate(-50%, -50%) scale(0.95)
                opacity                 0.9

        .mod-panel-gmap
            position                    absolute
            top                         0
            left                        0
            width                       100%
            height                      100%
            background-color            $color7

        .mod-panel-gmap-lnk
            display                     block
            position                    relative
            overflow                    hidden
            width                       100%
            height                      @width

        .mod-panel-gmap-img
            width                       100%
            transition4(transform)
            translate-middle()

        .mod-panel-global-content
            position                    relative
            width                       80%
            max-width                   370px
            background-color            $color2
            padding                     20px
            margin                      0 auto
            transition3()
            font-l()

            .city
                font-size               1.8rem
                color                   $color6
                line-height             1.5
                margin-bottom           10px

                &:after
                    content             ""
                    display             block
                    position            relative
                    height              1px
                    width               40%
                    background-color    $color7
                    margin-top          7px

            .address
                color                   $color7
                margin-bottom           10px

            .phone
                color                   $color3

    .mod-panel-home-contact
        .site-contact-title
            font-size                   2.4rem
            text-transform              uppercase
            color                       $color5
            text-align                  center
            line-height                 1.2
            margin-bottom               20px
            font-b()

        .boltform
            padding                     10px

            .boltforms-label
                display                 none

            [class^="btn-"]
            [class*=" btn-"]
            a[class^="btn-"]
            a[class*=" btn-"]
            button[type="submit"]
                width                   100%

/* Mediaqueries Tablet ( >= 640px) */
@media all and ( min-width: $smallScreenContentMaxWidth )

    .page-home
        .mod-panel-home-services
            .mod-panel-title-2
                font-size               1.3rem


/* Mediaqueries Desktop ( >= 960px) */
@media all and ( min-width: $mediumScreenContentMaxWidth )

    .page-home
        .article
            padding                     100px 0 60px 0

            p
                font-size               2.1rem

        .mod-panel-global-content
            margin-bottom               40px

        .mod-panel-global-content
            &.icon-marker
                &:before
                    transform           scale(0.75)
                    left                30px

        .mod-panel-home-services
            .mod-panel-title-2
                font-size               2.1rem

        .site-contact
            display                     table
            width                       100%

            .mod-panel
                display                 table-cell
                width                   50%

            .mod-panel-global-content
                translate-middle()

            .mod-panel-home-contact
                padding                 30px

        .mod-panel-home-gmap
            .mod-panel-global-content
                padding                     40px

                .city
                    font-size               2.3rem

                .address
                .phone
                    font-size               1.6rem


/* Mediaqueries Large ( >= 1400px) */
@media all and ( min-width: $largeScreenContentMaxWidth )

    .page-home
        .article
            padding                     125px 0 75px 0

            h3
                font-size               4rem
                margin-bottom           30px


            p
                margin-top              70px

        .mod-panel-global-content
            margin-bottom               70px
