$color1                                 = #000000
$color2                                 = #ffffff
$color3                                 = #1f7c9a
$color4                                 = #115c74
$color5                                 = #555555
$color6                                 = #888888
$color7                                 = #e0e0e0
$color8                                 = #eeeeee
$color9                                 = #c3e9f5

$errorColor                             = #cf4343
$successColor                           = #3c763d
$backgroundSuccessColor                 = #DFF0D8
