$color1                                 = #000000
$color2                                 = #ffffff
$color3                                 = #11b9ff
$color4                                 = #6ed4ff
$color5                                 = #39393b
$color6                                 = #444444
$color7                                 = #a9a9a9
$color8                                 = #f8f8f8
$color9                                 = #efefef
$color10                                = #fafafa
$color11                                = #2d9
$color12                                = #e2574c
$color13                                = #3db39e
$color14                                = #efc75e
$color15                                = #F0F2EF

$errorColor                             = #f67979
$successColor                           = #70bc2d
$backgroundSuccessColor                 = #e9f8c8
