$innerWidth                             = unit( projectVars.content.innerWidth, 'px' )
$smallScreenContentMinWidth             = unit( projectVars.content.smallScreenMinWidth, 'px' )
$smallScreenContentMaxWidth             = unit( projectVars.content.smallScreenMaxWidth, 'px' )
$mediumScreenContentMinWidth            = unit( projectVars.content.mediumScreenMinWidth, 'px' )
$mediumScreenContentMaxWidth            = unit( projectVars.content.mediumScreenMaxWidth, 'px' )
$largeScreenContentMinWidth             = unit( projectVars.content.largeScreenMinWidth, 'px' )
$largeScreenContentMaxWidth             = unit( projectVars.content.largeScreenMaxWidth, 'px' )
