// /!\ A utiliser uniquement pour embedurl. le chemin est résolu en utilisant celui indique dans gulp/stylus.js
// qui contient déja tout le chemin jusqu'à assets/media/
$baseImgUrl                             = ''
$bgImgUrl                               = 'bg/'
$fontsUrl                               = '/theme/westinnova/assets/media/fonts/'
