/* Header */
$headerHeight                           = 50px
$headerHeightTablet                     = 75px
$headerHeightDesktop                    = 80px
$headerHeightLarge                      = 100%

/* Footer */
$footerHeight                           = 80px
$footerHeightTablet                     = 60px
$footerHeightDesktop                    = 60px
$footerHeightLarge                      = 50px
