/* Header */
$headerHeight                           = 50px
$headerHeightTablet                     = 80px
$headerHeightDesktop                    = 100%
$headerHeightLarge                      = 100%

/* Footer */
$footerHeight                           = 100px
$footerHeightTablet                     = 80px
$footerHeightDesktop                    = 70px
$footerHeightLarge                      = 50px
