font-1()
    font-family                        'Open Sans', sans-serif
    font-weight                         400

font-l()
    font-weight                         300

font-sb()
    font-weight                         600

font-b()
    font-weight                         700

font-eb()
    font-weight                         800
