font-1()
    font-family                        'montserrat', sans-serif
    font-r()

font-2()
    font-family                        'lato', sans-serif
    font-r()

font-r()
    font-weight                         400

font-t()
    font-el()

font-el()
    font-l()

font-l()
    font-weight                         300

font-m()
    font-r()

font-sb()
    font-b()

font-b()
    font-weight                         700

font-eb()
    font-weight                         800

font-bl()
    font-eb()
