/***************************************/

.site-footer
    height                              $footerHeight
    background-color                    $color5
    color                               $color2
    text-align                          center
    padding                             20px 0

.sf-copyright
    font-size                           1.2rem

.sf-lnk
    color                               $color2
    padding                             0 10px

    &:hover
        text-decoration                 underline


/* Mediaqueries Desktop ( >= 640px) */
@media all and ( min-width: $smallScreenContentMaxWidth )

    .site-footer
        height                          $footerHeightTablet


/* Mediaqueries Tablet ( >= 960px) */
@media all and ( min-width: $mediumScreenContentMaxWidth )

    .site-footer
        height                          $footerHeightDesktop

    .sf-lnk
        padding                         0 20px


/* Mediaqueries Large ( >= 1400px) */
@media all and ( min-width: $largeScreenContentMaxWidth )

    .site-footer
        height                          $footerHeightLarge
        padding                         15px 0
