/***************************************/

.site-header
    height                              $headerHeight
    background-color                    $color2
    color                               $color5
    padding                             10px 0
    clearfix()

.sticky-nav
    .site-header
        padding-bottom                  42px

.sh-lnk
    float                               left

.sh-logo
    display                             inline-block
    margin-bottom                       10px

.sh-img
    vertical-align                      middle
    width                               132px
    height                              30px


/* Mediaqueries Tablet ( >= 640px) */
@media all and ( min-width: $smallScreenContentMaxWidth )

    .site-header
        height                          $headerHeightTablet
        padding                         15px 0

    .sh-img
        width                           219px
        height                          50px


/* Mediaqueries Desktop ( >= 960px) */
@media all and ( min-width: $mediumScreenContentMaxWidth )

    .site-header
        height                          $headerHeightDesktop
        padding-bottom                  5px

        .inner
            clearfix()

    .sh-lnk
        display                         block

    .sh-img
        width                           330px
        height                          75px


/* Mediaqueries Large ( >= 1400px) */
@media all and ( min-width: $largeScreenContentMaxWidth )

    .site-header
        height                          $headerHeightLarge
