@import '_common/variables/*'
@import '_common/mixins'
@import '_common/reset-end'

@import '_common/columns'
@import '_common/base'
@import '_common/buttons'
@import '_common/forms'

@import '_pages/home'
@import '_pages/services'

@import '_modules/pagination'

@import '_vendor/*'

@import '_partials/footer'
