<div class="site-cookies">
    <div class="sc-text">
        <p class="sc-paragraph">En poursuivant votre navigation sur le site, vous acceptez le dépôt du cookie Google Analytics destiné à améliorer le contenu du site et à faciliter votre navigation sur celui-ci.</p>
        <a class="sc-lnk" href="/page/informations-legales#cookies">En savoir plus</a>
    </div>
    <div class="sc-btn">
        <button type="button" class="scb-close">
            <span class="scb-bar"></span>
            <span class="scb-bar"></span>
        </button>
    </div>
</div>
