{% extends '_extended_base.twig' %}

{% block content %}

    {% if record is defined %}
        {% if record.image != "" %}
            {% include 'partials/_hero.twig' with {
                'img': record.image,
                'baseline': record.image_hero_baseline,
                'arrow': record.image_hero_arrow,
                'anchor': record.image_hero_arrow_link
            } %}
        {% endif %}
        <div class="site-content article hero-effect" id="about">
            <div class="inner">
                {% if record.teaser %}
                    <div class="sc-teaser">
                        {{ record.teaser }}
                    </div>
                {% endif %}
                {% if record.body %}
                    <div class="sc-body">
                        {{ record.body }}
                    </div>
                {% endif %}
            </div>
            <canvas id="canvas" width="1950px" height="800px"></canvas>
            <canvas id="canvasbg" width="1950px" height="800px"></canvas>
        </div>
        {% if record.panel is defined %}
            <div class="site-panel article">
                {% include 'partials/_panel.twig' with {
                    'panel_name': [
                        'block/panel-home-services',
                        'block/panel-home-expertise',
                        'block/panel-home-social-networks'
                    ]
                } %}
            </div>
        {% endif %}
        <div class="site-contact" id="contact">
            {% include 'partials/_panel.twig' with {
                'panel_name': ['block/panel-home-gmap']
            } %}
            <div class="mod-panel mod-panel-home-contact">
                <h3 class="site-contact-title">Contactez-nous</h3>
                {{ boltforms('contact') }}
            </div>
        </div>
    {% endif %}

{% endblock content %}
