{% extends '_extended_base.twig' %}

{% block content %}

    {% if record is defined %}
        {% if record.image != "" %}
            {% include 'partials/_hero.twig' with {
                'img': record.image,
                'baseline': record.image_hero_baseline,
                'arrow': record.image_hero_arrow
            } %}
        {% endif %}
        <div class="site-content article">
            <div class="inner">
                {% if record.teaser %}
                    <div class="sc-teaser">
                        {{ record.teaser }}
                    </div>
                {% endif %}
                {% if record.body %}
                    <div class="sc-body">
                        {{ record.body }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

{% endblock content %}
