{% extends '_extended_base.twig' %}

{% block content %}

    {% if record.image != "" %}
        {% include 'partials/_hero.twig' with {'img': record.image, 'baseline': record.image_hero_baseline, 'btn': record.image_hero_button} %}
    {% endif %}
    <div class="site-content article">
        <div class="inner">
            <div class="sc-teaser">
                {{ record.teaser }}
            </div>
            <div class="sc-body">
                {{ record.body }}
            </div>
        </div>
    </div>

{% endblock content %}
