/* Lato
   Light (300)
   Light Italic (300)
   Regular (400)
   Regular Italic (400)
   Bold (700)
   Bold Italic (700)
------------------------------------------------------------------------*/
@font-face {
    font-family: 'lato';
    font-display: swap;
    src: url( $fontsUrl + 'lato-light-webfont.woff?eri2lx' ) format( 'woff' ),
         url( $fontsUrl + 'lato-light-webfont.woff2?eri2lx' ) format( 'woff2' ),
         url( $fontsUrl + 'lato-light-webfont.ttf?eri2lx' ) format( 'truetype' );
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'lato';
    font-display: swap;
    src: url( $fontsUrl + 'lato-lightitalic-webfont.woff?eri2lx' ) format( 'woff' ),
         url( $fontsUrl + 'lato-lightitalic-webfont.woff2?eri2lx' ) format( 'woff2' ),
         url( $fontsUrl + 'lato-lightitalic-webfont.ttf?eri2lx' ) format( 'truetype' );
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: 'lato';
    font-display: swap;
    src: url( $fontsUrl + 'lato-regular-webfont.woff?eri2lx' ) format( 'woff' ),
         url( $fontsUrl + 'lato-regular-webfont.woff2?eri2lx' ) format( 'woff2' ),
         url( $fontsUrl + 'lato-regular-webfont.ttf?eri2lx' ) format( 'truetype' );
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'lato';
    font-display: swap;
    src: url( $fontsUrl + 'lato-regularitalic-webfont.woff?eri2lx' ) format( 'woff' ),
         url( $fontsUrl + 'lato-regularitalic-webfont.woff2?eri2lx' ) format( 'woff2' ),
         url( $fontsUrl + 'lato-regularitalic-webfont.ttf?eri2lx' ) format( 'truetype' );
    font-style:italic;
    font-weight: 400;
}

@font-face {
    font-family: 'lato';
    font-display: swap;
    src: url( $fontsUrl + 'lato-bold-webfont.woff?eri2lx' ) format( 'woff' ),
         url( $fontsUrl + 'lato-bold-webfont.woff2?eri2lx' ) format( 'woff2' ),
         url( $fontsUrl + 'lato-bold-webfont.ttf?eri2lx' ) format( 'truetype' );
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'lato';
    font-display: swap;
    src: url( $fontsUrl + 'lato-bolditalic-webfont.woff?eri2lx' ) format( 'woff' ),
         url( $fontsUrl + 'lato-bolditalic-webfont.woff2?eri2lx' ) format( 'woff2' ),
         url( $fontsUrl + 'lato-bolditalic-webfont.ttf?eri2lx' ) format( 'truetype' );
    font-style: italic;
    font-weight: 700;
}
