/* Open Sans
   Regular (400)
   Regular Italic (400)
   Semi-bold (600)
   Bold (700)
------------------------------------------------------------------------*/
@font-face {
    font-family: 'open-sans';
    font-display: swap;
    src: url( $fontsUrl + 'OpenSans-Regular-webfont.woff' ) format( 'woff' ),
         url( $fontsUrl + 'OpenSans-Regular-webfont.ttf' ) format( 'truetype' );
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'open-sans';
    font-display: swap;
    src: url( $fontsUrl + 'OpenSans-Italic-webfont.woff' ) format( 'woff' ),
         url( $fontsUrl + 'OpenSans-Italic-webfont.ttf' ) format( 'truetype' );
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'open-sans';
    font-display: swap;
    src: url( $fontsUrl + 'OpenSans-Semibold-webfont.woff' ) format( 'woff' ),
         url( $fontsUrl + 'OpenSans-Semibold-webfont.ttf' ) format( 'truetype' );
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'open-sans';
    font-display: swap;
    src: url( $fontsUrl + 'OpenSans-Bold-webfont.woff' ) format( 'woff' ),
         url( $fontsUrl + 'OpenSans-Bold-webfont.ttf' ) format( 'truetype' );
    font-style: normal;
    font-weight: 700;
}
