/***************************************/

@import '../_common/variables/*'

// .bg-texture-1
//     background-image                    b64( $bgImgUrl + 'bg-texture-1.png' )


.icon-arrow-1-c
    background-image                    b64( $baseImgUrl + 'icon-arrow-1-c.svg', $color2 )

.icon-marker:before
    content                             b64( $baseImgUrl + 'icon-marker.png' )
